# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Database
*.db
*.sqlite3

# Distribution / packaging
dist/
build/
*.egg-info/

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Virtual Environment
.venv/
venv/
ENV/

# IDE
.vscode/
.idea/
